html {
  font-size: 10px;
  background: url(static/bg.jpg) no-repeat;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

kbd {
  display: block;
  font-size: 4rem;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.sound {
  font-size: 0.5em;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

#waveform {
  margin-top: 5%;
}

#key-table {
  margin-top: -10%;
}

#code-text {
  color: lime;
}

#inputs {
  display: block;
  text-align: center;
}

#navbar ul {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  text-align: center;
  background-color: #000;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  text-decoration: none;
  padding: .2em 1em;
  color: #fff;
  background-color: #000;
}

#navbar ul li a:hover {
  color: #000;
  background-color: #fff;
}